body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: 	#86C5F7;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.login-content img{
    height: 100px;
}
.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}


.img img{
	width: 500px;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
form{
	width: 360px;
}
@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}
select{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    background: 	#37faea;
    color: black;
    border-radius: 24px;
}

.form-box {
    width: 300px;
    padding: 40px;
    background: 	#86C5F7;
    text-align: center;
}
.form-title {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.form-label {
    color: black;
}

.form-box input[type="text"],
.form-box input[type="date"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid 	#37faea;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="date"]:focus {
    width: 280px;
    border-color: #ffffff;
}
.form-box button[type="submit"] {
    border: 0;
    background: #37faea;
    cursor: pointer;
    border: 2px solid #37faea;
}

.form-box button[type="submit"]:hover{
    background: none;

}

